.contacts{
	&-block{
		display: grid;
		grid-template-columns: auto 1fr;
		grid-column-gap: clamp(20px, 5vw, 50px);
		grid-row-gap: clamp(36px, 4.5vw, 60px);
		.title-2{
			grid-column: 1/-1;
		}
		.title-5{
			grid-column: 1/-1;
			margin-bottom: 36px;
		}
		.address,
		.phone,
		.social{
			padding-bottom: clamp(17px, 1.5vw, 19px);
			margin-bottom: clamp(14px, 2vw, 28px);
			border-bottom: 1px dashed white;
			div,
			a{
				font-family: var(--font-2);
				font-weight: 600;
				font-size: var(--font-size-4);
				line-height: 1;
				letter-spacing: 0.05em;
				text-transform: uppercase;
				color: var(--color-2);
			}
		}
		.social{
			.items{
				display: flex;
				align-items: center;
				gap: clamp(10px, 1.5vw, 20px);	
			}
		}
		.soc{
			width: clamp(36px, 3vw, 42px);
			height: clamp(36px, 3vw, 42px);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			&.vk{
				background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='21' cy='21' rx='21' ry='21' fill='%23EA2019'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.08789 12.7751C7.31539 23.6951 12.7754 30.275 22.3479 30.275H22.8904V24.0101C24.5793 24.2216 26.168 24.9274 27.457 26.039C28.746 27.1505 29.6778 28.6181 30.1354 30.2575H35.1054C34.5928 28.3737 33.6868 26.6198 32.447 25.1116C31.2073 23.6034 29.6619 22.3751 27.9129 21.5076C29.4817 20.5499 30.8357 19.2783 31.8897 17.7726C32.9437 16.2668 33.6751 14.5594 34.0379 12.7576H29.5404C28.5604 16.2576 25.6554 19.3726 22.8904 19.6701V12.7751H18.3754V24.885C15.5754 24.1851 12.0404 20.7901 11.8829 12.7751H7.08789Z' fill='%23060606'/%3E%3C/svg%3E");
			}
			&.ig{
				background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 41.9999C32.598 41.9999 42 32.5979 42 21C42 9.40201 32.598 0 21 0C9.40202 0 0 9.40201 0 21C0 32.5979 9.40202 41.9999 21 41.9999Z' fill='%23EA2019'/%3E%3Cpath d='M21.1072 14.9106C19.9074 14.9106 18.7346 15.2664 17.737 15.933C16.7394 16.5995 15.9619 17.5469 15.5028 18.6554C15.0437 19.7638 14.9235 20.9835 15.1576 22.1602C15.3916 23.3369 15.9694 24.4178 16.8177 25.2662C17.6661 26.1145 18.747 26.6923 19.9238 26.9263C21.1005 27.1604 22.3201 27.0403 23.4286 26.5811C24.537 26.122 25.4845 25.3445 26.151 24.3469C26.8176 23.3494 27.1733 22.1765 27.1733 20.9768C27.1733 19.3679 26.5342 17.825 25.3966 16.6874C24.259 15.5498 22.716 14.9106 21.1072 14.9106ZM21.1072 24.8586C20.3394 24.8586 19.5889 24.631 18.9505 24.2044C18.3122 23.7779 17.8147 23.1716 17.5208 22.4623C17.227 21.753 17.1501 20.9725 17.2999 20.2195C17.4497 19.4665 17.8194 18.7748 18.3623 18.2319C18.9052 17.689 19.5969 17.3193 20.3499 17.1695C21.1029 17.0197 21.8834 17.0966 22.5927 17.3904C23.302 17.6842 23.9083 18.1818 24.3349 18.8201C24.7614 19.4585 24.9891 20.209 24.9891 20.9768C24.9859 22.0053 24.5759 22.9909 23.8486 23.7182C23.1213 24.4455 22.1357 24.8555 21.1072 24.8586Z' fill='%23060606'/%3E%3Cpath d='M25.9263 33.2869H16.0852C14.1247 33.2838 12.2454 32.5036 10.8591 31.1173C9.47285 29.731 8.69259 27.8517 8.68945 25.8912V16.0619C8.69259 14.1015 9.47285 12.2221 10.8591 10.8359C12.2454 9.44958 14.1247 8.6694 16.0852 8.66626H25.9263C27.8868 8.6694 29.7661 9.44958 31.1524 10.8359C32.5387 12.2221 33.3189 14.1015 33.322 16.0619V25.8912C33.3189 27.8517 32.5387 29.731 31.1524 31.1173C29.7661 32.5036 27.8868 33.2838 25.9263 33.2869ZM16.0852 10.9811C14.7397 10.9843 13.4505 11.5209 12.5002 12.4734C11.5499 13.4259 11.0162 14.7165 11.0162 16.0619V25.8912C11.0162 27.2367 11.5499 28.5272 12.5002 29.4797C13.4505 30.4322 14.7397 30.9689 16.0852 30.972H25.9263C27.2739 30.972 28.5662 30.4367 29.519 29.4839C30.4719 28.5311 31.0072 27.2387 31.0072 25.8912V16.0619C31.0072 14.7144 30.4719 13.4221 29.519 12.4693C28.5662 11.5164 27.2739 10.9811 25.9263 10.9811H16.0852Z' fill='%23060606'/%3E%3C/svg%3E");
			}
			&.yt{
				background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 41.9994C32.598 41.9994 42 32.5974 42 20.9995C42 9.40152 32.598 -0.000488281 21 -0.000488281C9.40202 -0.000488281 0 9.40152 0 20.9995C0 32.5974 9.40202 41.9994 21 41.9994Z' fill='%23EA2019'/%3E%3Cpath d='M32.2539 18.0069C32.2539 16.6688 31.7224 15.3856 30.7762 14.4394C29.83 13.4932 28.5468 12.9617 27.2087 12.9617H14.3167C12.9786 12.9617 11.6953 13.4932 10.7491 14.4394C9.80298 15.3856 9.27148 16.6688 9.27148 18.0069V24.0018C9.27148 25.3399 9.80298 26.6231 10.7491 27.5693C11.6953 28.5155 12.9786 29.047 14.3167 29.047H27.2681C28.6061 29.047 29.8894 28.5155 30.8356 27.5693C31.7817 26.6231 32.3133 25.3399 32.3133 24.0018L32.2539 18.0069ZM24.6683 21.4495L18.8871 24.3105C18.6615 24.4411 17.8899 24.3105 17.8899 24.0137V18.1375C17.8899 17.8763 18.6615 17.722 18.8871 17.8526L24.4308 20.856C24.6564 20.9866 24.8938 21.3308 24.6683 21.4495Z' fill='%23060606'/%3E%3C/svg%3E");
			}
			&.fb{
				background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M41.9772 21.0002C41.9794 16.9863 40.8307 13.056 38.6671 9.67521C36.5036 6.29439 33.4159 3.60485 29.7702 1.92545C26.1246 0.246055 22.0739 -0.352767 18.0983 0.199979C14.1227 0.752724 10.3889 2.43386 7.33967 5.04407C4.29044 7.65428 2.05367 11.0841 0.89443 14.9269C-0.26481 18.7697 -0.297903 22.8643 0.799185 26.7253C1.89627 30.5864 4.07747 34.0518 7.08419 36.7109C10.0909 39.37 13.7971 41.1111 17.7632 41.7279V27.0952H12.439V21.0239H17.7632V16.423C17.7632 11.1581 20.8937 8.25288 25.6844 8.25288C27.2736 8.27237 28.8591 8.4111 30.4275 8.6679V13.8261H27.7832C27.3321 13.7674 26.8735 13.8108 26.4415 13.9531C26.0094 14.0955 25.6149 14.3331 25.287 14.6485C24.9591 14.9638 24.7063 15.3488 24.5473 15.775C24.3882 16.2012 24.327 16.6577 24.3681 17.1108V21.0358H30.1904L29.2536 27.1071H24.3681V41.7635C29.2921 40.9602 33.7689 38.4292 36.9958 34.6242C40.2228 30.8193 41.9888 25.9892 41.9772 21.0002Z' fill='%23EA2019'/%3E%3Cpath d='M29.1589 27.0947L30.0958 21.0234H24.2735V17.0984C24.2323 16.6453 24.2935 16.1888 24.4526 15.7626C24.6116 15.3364 24.8645 14.9514 25.1923 14.6361C25.5202 14.3207 25.9148 14.0831 26.3469 13.9408C26.7789 13.7984 27.2375 13.755 27.6886 13.8137H30.3329V8.65551C28.7644 8.39871 27.1789 8.25998 25.5897 8.24048C20.8465 8.24048 17.6686 11.1457 17.6686 16.4106V21.0234H12.3443V27.0947H17.7634V41.7511C19.9367 42.0831 22.1477 42.0831 24.3209 41.7511V27.0947H29.1589Z' fill='%23060606'/%3E%3C/svg%3E");
			}
		}
	}
	&-info{
		margin-top: -7px;
		p{
			margin-bottom: clamp(9px, 1.4vw, 16px);
		}
	}
	&-parking{
		display: flex;
		align-items: center;
		grid-column: 1/-1;
		gap: clamp(15px, 2.4vw, 30px);
		margin-bottom: clamp(5px, 3.5vw, 50px);
		.icon{
			width: clamp(72px, 7vw, 87px);
			height: clamp(72px, 7vw, 87px);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			background-image: url("data:image/svg+xml,%3Csvg width='87' height='88' viewBox='0 0 87 88' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M39.206 46.7816H45.2298C46.9372 46.7816 48.3441 46.4879 49.4505 45.9005C50.5706 45.2995 51.4038 44.4731 51.9502 43.4213C52.5103 42.3559 52.7903 41.1334 52.7903 39.7538C52.7903 38.3605 52.5103 37.1448 51.9502 36.1067C51.4038 35.0549 50.5706 34.2422 49.4505 33.6685C48.3305 33.0812 46.9099 32.7875 45.1888 32.7875H39.206V46.7816Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M43.5 87.9478C67.5244 87.9478 87 68.4721 87 44.4478C87 20.4234 67.5244 0.947754 43.5 0.947754C19.4756 0.947754 0 20.4234 0 44.4478C0 68.4721 19.4756 87.9478 43.5 87.9478ZM30.3342 25.5343V67.4961H39.206V53.8913H46.664C49.8876 53.8913 52.6332 53.2971 54.9007 52.1087C57.1818 50.9204 58.9234 49.2607 60.1254 47.1299C61.3274 44.999 61.9284 42.5403 61.9284 39.7538C61.9284 36.9673 61.3342 34.5086 60.1459 32.3777C58.9712 30.2332 57.2637 28.5599 55.0236 27.3579C52.7834 26.1422 50.0721 25.5343 46.8894 25.5343H30.3342Z' fill='white'/%3E%3C/svg%3E");
		}
		.text{
			max-width: 630px;
		}
	}
	&-video{
		position: relative;
		display: block;
		width: fit-content;
		max-width: clamp(300px, 45vw, 572px);
		img{
			display: block;
			max-width: 100%;
		}
	}
	&-map {
		grid-column: 1/-1;
    .ymap {
      width: 100%;
      height: clamp(490px, 45vw, 700px);
      .ymaps3x0--main-engine-container{
				-webkit-filter: grayscale(100%);
				filter: grayscale(100%);
			}
    }
  }
}

@media(max-width: 600px){
	.contacts{
		&-block{
			grid-template-columns: 1fr;
			.social{
				margin-bottom: 0px;
			}
		}
		&-info{
			grid-row: 2;
		}
		&-parking{
			grid-row: 3;
			margin-bottom: 0;
		}
		&-map{
			grid-row: 4;
		}
		&-video{
			max-width: 100%;
			width: 100%;
		}
	}
}