.timetable{
	.subtitle{
		margin-bottom: 28px;
	}
	.item{
		display: flex;
		align-items: flex-start;
		gap: 13px;
		margin-bottom: 20px;
		opacity: 1;
    transform: none;
    position: inherit;
	}
	p,
	.day{
		color: var(--color-2);
	}
	p{
		margin-bottom: 14px;
		text-transform: uppercase;
	}
	li{
		display: flex;
		align-items: center;
		white-space: nowrap;
		gap: 13px;
	}
}