.teacher{
	&-block{
		display: flex;
		flex-direction: column;
		gap: 50px;
	}
	&-items{
		display: grid;
		grid-template-columns: clamp(190px, 33.5vw, 410px) 1fr;
		grid-column-gap: clamp(40px,11vw,210px);
	}
	&-nav{
		display: flex;
    flex-direction: column;
    position: relative;
		gap: clamp(17px, 1.9vw, 25px);
		padding-left: clamp(40px, 6vw, 80px);
		> a{
			&.active,
			&:hover{
				color: var(--color-2);
				&::before{
					font-size: var(--font-size-2);
				}
			}
		}
		a{
			font-weight: 600;
			font-size: var(--font-size-2);
			line-height: 1;
			text-transform: uppercase;
			color: white;
			font-family: var(--font-2);
			display: flex;
			gap: 4px;
			transition: color 0.15s ease-in-out;
			&::before{
				content: '—';
				font-size: 0px;
				line-height: 30px;
				transition: font-size 0.15s ease-in-out;
			}
		}
	}
	&-content{
		display: flex;
    flex-direction: column;
    justify-content: center;
		.title-4{
			text-align: right;
		}
		.text{
			padding-top: clamp(39px, 9vw, 108px);
			display: flex;
			flex-direction: column;
			gap: 24px;
			&-1{
				text-align: right;
			}
		}
		.item{
			display: grid;
			grid-template-columns: clamp(166px, 18vw, 240px) 1fr;
			opacity: 0;
			position: absolute;
			transform: scale(0.9);
			transition: opacity 0.27s ease-in-out, transform 0.15s ease-in-out;
			&.active{
				opacity: 1;
				transform: scale(1);
				position: relative;
			}
		}
		.img{
			grid-column: 2;
			margin-left: -8%;
			z-index: -1;
		}
		img{
			display: block;
			width: 100%;
		}
	}
}

@media(max-width: 800px){
	.teacher{
		&-content{
			.subtitle,
			.text-2{
				display: none;
			}
		}
	}
}

@media(max-width: 700px){
	.teacher{
		&-items{
			display: flex;
			flex-direction: column;
		}
		&-content{
			order: 1;
			gap: 17px;
			.item{
				position: relative;
				opacity: 1;
				transform: none;
				&::before{
					content: attr(data-title);
					font-weight: 600;
					font-family: var(--font-2);
					font-size: clamp(20px,3.8vw,50px);
					line-height: 1;
					grid-column: 1/-1;
					text-transform: uppercase;
				}
				&.active{
					padding-bottom: 20px;
					&::before{
						margin-bottom: 45px;
						color: var(--color-2);
					}
					.title-4{
						text-align: right;
						display: block;
					}
					.img{
						display: block;
					}
					.text{
						grid-column: 1;
						padding-top: clamp(39px,9vw,108px);
						&-1{
							display: block;
						}
					}
				}
			}
			.title-4{
				text-align: left;
				display: none;
			}
			.img{
				display: none;
			}
			.text{
				grid-column: 1/-1;
				padding-top: 0;
				&-1{
					display: none;
				}
			}
		}
		&-nav{
			display: none;
		}
	}
}