.qa{
	&-block{
		display: flex;
		flex-direction: column;
		gap: 50px;
		.items{
			border: 2px solid white;
			.item{
				&:last-child{
					border-bottom: none;
				}
			}
		}
		.item{
			padding: 28px 33px;
			border-bottom: 2px solid white;
			display: flex;
			flex-direction: column;
			gap: 0px;
			&.active{
				gap: 20px;
				.title-5{
					&::after{
						transform: rotate(90deg);
						background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.390694 1.59368L1.92229 0.0620872L9.86239 8.00219L17.1979 0.666664L18.8101 2.27887L11.4746 9.61439L19.4147 17.5545L17.8831 19.0861L9.943 11.146L2.60747 18.4815L0.99527 16.8693L8.3308 9.53378L0.390694 1.59368Z' fill='white'/%3E%3C/svg%3E");
					}
				}
				.text{
					opacity: 1;
					height: auto;
				}
			}
		}
		.title-5{
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: relative;
			&::after{
				content: '';
				width: 32px;
				height: 32px;
				background-repeat: no-repeat;
				background-position: center;
				background-size: auto;
				transition: transform 0.15s ease-in-out;
				background-image: url("data:image/svg+xml,%3Csvg width='32' height='31' viewBox='0 0 32 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.956484 18.9269V12.6269H12.8565V0.726875H19.4365V12.6269H31.3365V18.9269H19.4365V30.8269H12.8565V18.9269H0.956484Z' fill='white'/%3E%3C/svg%3E");
			}
		}
		.text{
			height: 0px;
			opacity: 0;
			transition: opacity 0.15s ease-in-out, height 0.15s ease-in-out;
		}
	}
}