.teacher{
	&-block{
		display: flex;
		flex-direction: column;
		gap: 50px;
	}
	&-items{
		display: grid;
		grid-template-columns: auto 1fr;
		grid-column-gap: clamp(50px, 15vw, 210px);
	}
	&-nav{
		display: flex;
    flex-direction: column;
    position: relative;
		gap: 25px;
		padding-left: 80px;
		> a{
			&.active,
			&:hover{
				color: var(--color-2);
				&::before{
					font-size: 30px;
				}
			}
		}
		a{
			font-weight: 600;
			font-size: 30px;
			line-height: 1;
			text-transform: uppercase;
			color: white;
			font-family: var(--font-2);
			display: flex;
			gap: 4px;
			transition: color 0.15s ease-in-out;
			&::before{
				content: '—';
				font-size: 0px;
				line-height: 30px;
				transition: font-size 0.15s ease-in-out;
			}
		}
	}
	&-content{
		display: flex;
    flex-direction: column;
    justify-content: center;
		.title-4{
			text-align: right;
		}
		.text{
			padding-top: 108px;
			display: flex;
			flex-direction: column;
			gap: 24px;
			&-1{
				text-align: right;
			}
		}
		.item{
			display: grid;
			grid-template-columns: 240px 1fr;
			opacity: 0;
			height: 0px;
			transition: opacity 0.18s ease-in-out, height 0.18s ease-in-out;
			&.active{
				opacity: 1;
				height: 100%;
			}
		}
		.img{
			grid-column: 2;
			margin-left: -8%;
			z-index: -1;
		}
	}
}