.style{
	&-block{
		> .item{
			border-bottom: 1px solid white;
			padding: clamp(13px, 1.5vw, 20px) 0;
		}
		.item{
			transition: padding 0.15s ease-in-out;
			&.active{
				padding: clamp(40px, 6vw, 80px) 0;
				.title-3{
					font-size: clamp(44px, 10vw, 150px);
					color: white;
					align-items: flex-start;
					&::after{
						transform: rotate(90deg);
						background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.1733 26.4436L0.718524 21.9888L9.1331 13.5742L0.718527 5.15965L5.37129 0.506885L13.7859 8.92145L22.2004 0.506882L26.6552 4.96166L18.2406 13.3762L26.6552 21.7908L22.0024 26.4436L13.5879 18.029L5.1733 26.4436Z' fill='%23EA2019'/%3E%3C/svg%3E");
					}
				}
				.style{
					&-content{
						display: grid;
						margin-top: -80px;
					}
				}
			}
		}
		.title-2{
			border-bottom: 1px solid white;
			padding-bottom: 50px;
		}
		.title-3{
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: relative;
			z-index: 1;
			cursor: pointer;
			transition: font-size 0.15s ease-in-out, color 0.15s ease-in-out;
			&:hover{
				color: rgba(255,255,255,1);
			}
			&::after{
				content: '';
				width: clamp(16px, 2.3vw, 32px);
				height: clamp(16px, 2.3vw, 32px);
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				transition: transform 0.15s ease-in-out;
				background-image: url("data:image/svg+xml,%3Csvg width='32' height='31' viewBox='0 0 32 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.956484 18.9269V12.6269H12.8565V0.726875H19.4365V12.6269H31.3365V18.9269H19.4365V30.8269H12.8565V18.9269H0.956484Z' fill='white'/%3E%3C/svg%3E");
			}
		}
	}
	&-content{
		display: none;
		grid-template-columns: auto auto 1fr;
		grid-column-gap: clamp(30px, 4.5vw, 60px);
		.img{
			width: clamp(180px, 41vw, 635px);	
		}
		img{
			display: block;
			width: 100%;
		}
	}
	&-links{
		font-weight: 400;
		font-size: clamp(12px, 2.6vw, 30px);;
		line-height: 120%;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		display: flex;
		flex-direction: column;
		justify-content: center;
		a{
			color: var(--color-2);
		}
	}
}

@media(max-width: 800px){
	.style{
		&-block{
			.item{
				&.active{
					.style{
						&-content{
							margin-top: 0px;
						}
					}
				}
			}
		}
		&-content{
			grid-template-columns: auto 1fr;
			grid-row-gap: clamp(20px,2vw,30px);
			.img{
				width: 100%;
				margin-top: -30px;
				display: flex;
				justify-content: flex-end;
			}
		}
	}
	.timetable{
		grid-column: 1/-1;
	}
}

@media(max-width: 500px){
	.style{
		&-block {
			.item{
				&.active {
					.title-3{
						&::after{
							margin-top: -20px;
						}
					}
				}
			}
		}
	}
}