.btn{
	padding: clamp(10px, 0.9vw, 11px) clamp(32px, 4vw, 60px);
	min-height: clamp(36px, 3.5vw, 52px);
	height: fit-content;
	width: fit-content;
	white-space: nowrap;
	text-align: center;
  gap: 10px;
  color: white;
	background-color: transparent;
	text-transform: uppercase;
	font-weight: 500;
	font-size: var(--font-size-4);
	letter-spacing: 0.05em;
  cursor: pointer;
	border: 2px solid white;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  &:hover{
    background-color: var(--color-2);
		border-color: var(--color-2);
	}
	&.is-border{
		outline: solid 1px var(--color-1);
		background-color: rgba(255,255,255,0);
		&:hover{
			outline: solid 2px var(--color-2);
		}
	}
	&.is-disable{
    pointer-events: none;
  }
}

@media(max-width: 600px){
	.btn{
		border-width: 1px;
	}
}