.btn{
	padding: clamp(9px, 0.9vw, 13px) clamp(16px, 1.9vw, 25px);
	height: fit-content;
	min-height: clamp(34px, 2.9vw, 50px);
	border-radius: 48px;
	width: fit-content;
	white-space: nowrap;
	text-align: center;
  gap: 10px;
  color: white;
	font-weight: 600;
	font-size: var(--font-size-3);
  background-color: var(--color-2);
  cursor: pointer;
  border: none;
	transition: color 0.15s ease-in-out,outline 0.15s ease-in-out, background-color 0.15s ease-in-out;
  &:hover{
    background-color: #FF212E;
	}
	&.is-border{
		outline: solid 1px var(--color-3);
		background-color: rgba(255,255,255,0);
		&:hover{
			outline: solid 2px var(--color-2);
		}
	}
	&.is-small{
		font-size: 13px;
		min-height: 38px;
	}
	&.is-disable{
    pointer-events: none;
  }
}