header{
  width: 100%;
  margin: 0 auto;
	padding-left: var(--padding-1);
	padding-right: var(--padding-1);
	padding-top: var(--padding-1);
	display: grid;
	grid-template-columns: 90px 1fr 90px;
	gap: clamp(20px, 12.5vw, 235px);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background-color: rgba(20, 20, 20, 0);
	transition: padding 0.15s ease-in-out, background-color 0.15s ease-in-out;
	&.is-fixed{
		padding-top: 15px;
		padding-bottom: 15px;
		max-height: 80px;
		gap: 6px;
		align-items: center;
		background-color: var(--color-1);
		nav{
			display: none;
		}
		.menu{
			&-trigger{
				display: block;
				background-color: transparent;
			}
			&-wrapper{
				.personal{
					border-color: rgba(20, 20, 20, 0.3);
				}
			}
		}
	}
	&.is-menu{
		.menu{
			&-bg{
				display: block;
			}
		}
	}
	.logo{
    text-align: center;
	}
	nav{
		display: grid;
		grid-template-columns: repeat(3, auto);
		grid-column-gap: clamp(30px, 10vw, 300px);
		a{
			&:first-child{
				grid-row: 1/4;
			}
			&:last-child{
				grid-column: 3;
			}
		}
	}
	a{
		font-weight: 600;
		font-size: clamp(13px, 0.9vw, 18px);
		line-height: 1.4;
		color: var(--color-2);
		white-space: nowrap;
		transition: color 0.15s ease-in-out;
		&:hover{
			color: white;
		}
	}
}

.menu{
	&-trigger{
		cursor: pointer;
		width: 63px;
		height: 13px;
		margin: auto 0 auto auto;
		background-repeat: no-repeat;
		background-position: center;
		background-color: transparent;
		background-image: url("data:image/svg+xml,%3Csvg width='62' height='13' viewBox='0 0 62 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M62 13H0V9.88184H62V13ZM62 0V3.11816H0V0H62Z' fill='white'/%3E%3C/svg%3E");
	}
	&-wrapper{
		display: none;
		position: absolute;
		right: var(--padding-1);
		top: var(--padding-1);
		width: 100%;
		max-width: clamp(335px,72vw,640px);
		height: calc(100vh - var(--padding-1) - var(--padding-1));
		flex-direction: column;
		gap: 10px;
		padding: clamp(24px,2.2vw,50px);
		background-color: var(--color-1);
		color: black;
		z-index: 9;
		&.active{
			display: flex;
		}
		.menu{
			display: flex;
			flex-direction: column;
			gap: 30px;
			margin: 0 0 auto 0;
			&-close{
				width: 18px;
				height: 18px;
				background-repeat: no-repeat;
				background-position: center;
				background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='23.387' height='1.73237' transform='matrix(0.708279 -0.705932 0.708279 0.705932 0.207031 16.5098)' fill='black'/%3E%3Crect width='23.387' height='1.73237' transform='matrix(0.708279 0.705932 -0.708279 0.705932 1.22656 0.267578)' fill='black'/%3E%3C/svg%3E");
				margin: 0 0 0 auto;
				border: none;
				background-color: transparent;
				position: absolute;
				right: 15px;
				top: 15px;
				cursor: pointer;
			}
			a{
				font-family: var(--font-2);
				font-weight: 600;
				font-size: var(--font-size-1);
				line-height: 1;
				letter-spacing: 0.01em;
				text-transform: uppercase;
				color: black;
				&:hover{
					color: var(--color-2);
				}
			}
		}
	}
	&-bg{
		display: none;
		background: black;
		opacity: 0.8;	
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
	}
}

@media(max-width: 1000px){
	header {
		padding-top: 15px;
		padding-bottom: 15px;
		max-height: 80px;
		grid-template-columns: 1fr auto auto auto;
		gap: 6px;
		align-items: center;
		&.is-menu{
			> .btn,
			> .menu-trigger,
			> .personal{
				opacity: 0;
			}
		}
		nav{
			display: none;
		}
		.menu{
			&-trigger{
				display: block;
				background-color: transparent;
			}
		}
	}
}

@media(max-width: 700px){
	header{
		grid-template-columns: auto 1fr;
		&.is-fixed{
			grid-template-columns: auto 1fr;
			> .btn,
			> .personal{
				display: none;
			}
		}
	}
	.menu{
		&-trigger{
			width: 23px;
			height: 18px;
			margin: auto 0 auto auto;
			border-radius: 0px;
			border: none;
			background-size: contain;
		}
	}
}

@media(max-width: 600px){
	.menu{
		&-wrapper{
			right: 0;
			top: 0;
			justify-content: flex-end;
			height: auto;
			min-height: 100vh;
			.menu{
				padding-top: clamp(40px, 15vw, 165px);
				margin: 0 0 clamp(40px, 7vw, 80px) 0;
				a{
					font-size: 40px;
				}
			}
		}
	}
}