@import url(block-party.css);

.timetable{
	&-page{
		color: white;
		padding-top: clamp(70px, 9vw, 125px);
		.title{
			&-1 {
				height: fit-content;
				font-size: clamp(30px, 10vw, 171px);
				font-weight: 600;
				letter-spacing: 0.2em;
				margin: 0 auto;
				width: 100%;
				text-align: center;
				z-index: 2;
				margin-bottom: 40px;
			}
		}
		.calendar{
			h2{
				font-size: var(--font-size-3);
			}
			.fc {
				&-state-default {
					box-shadow: none;
					border: none;
					background: transparent;
				}
				&-state-active, 
				&-state-down {
					box-shadow: none;
					color: var(--color-2) !important;
				}
				&-toolbar {
					display: grid;
					grid-template-columns: repeat(3,1fr);
					.fc-left,
					.fc-right,
					.fc-center{
						float: none;
						grid-row: 1;
					}
					.fc-right{						
						text-align: right;
						display: flex;
						align-items: center;
						justify-content: flex-end;
					}
					.fc-center{
						grid-column: 2;
						text-align: center;
						display: flex;
						align-items: center;
						justify-content: center;
					}
					.fc-clear{
						display: none;
					}
				}
				button {
					height: auto;
					font-size: var(--font-size-3);
					background-color: transparent;
					text-shadow: none;
					color: white;
					text-transform: uppercase;
					font-family: var(--font-2);
				}
			}
		}
	}
}