<!DOCTYPE html>
<html class="js" lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="format-detection" content="telephone=no">
	<title></title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<!-- <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="favicon.ico"> -->
	<meta name="msapplication-TileColor" content="#200D02">
	<meta name="theme-color" content="#200D02">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	</script>
	{% block css %}{% endblock %}
</head>
<body class="loading">
  {% block header %}
	<header>
		<div class="title-page">Главная</div>
		<a class="logo" href="page-main.html"><img src="img/logo.svg"></a>
		<button class="menu-trigger" title="Menu"></button>
		<div class="menu-wrapper">
			<button class="menu-close"></button>
			<a class="logo" href="page-main.html"><img src="img/logo.svg"></a>
			<ul class="menu">
				<li class="active">
					<a href="#">Главная страница</a>
					<ul>
						<li><a href="#start">о школе</a></li>
						<li><a href="#style">танцевальные стили</a></li>
						<li><a href="#teacher">преподаватели</a></li>
						<li><a href="#how">Как начать танцевать?</a></li>
						<li><a href="#trial">Пробный урок</a></li>
						<li><a href="#qa">Вопросы и ответы</a></li>
					</ul>
				</li>
				<li><a href="#">Направления</a></li>
				<li><a href="#">Галерея</a></li>
				<li><a href="#">Расписание</a></li>
				<li><a href="#">Новости</a></li>
				<li><a href="#">Вечеринки</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
			<div class="address">
				<p>Адрес</p>
				<div>г. Санкт-Петербург, ул. Садовая, 28/30 к.1</div>
			</div>
			<div class="phone">
				<p>Телефон</p>
				<a href="tel: +7 495 540-54-57">+7 495 540-54-57</a>
			</div>
			<div class="img">
				<img src="img/menu-1.jpg">
			</div>
			<div class="social">
				<a class="soc vk" href="#" target="_blank"></a>
				<a class="soc yt" href="#" target="_blank"></a>
			</div>
		</div>
		<div class="menu-bg"></div>
  </header>
	{% endblock %}
	<main data-scroll-container>
	{% block content %}{% endblock %}
	</main>
	<footer>
		<a class="logo" href="#"><img src="img/logo.svg"></a>
		<div class="copy">
			<p>Casa Latina © 2003-2021 </p>
			<p>Все права защищены </p>
		</div>
		<div class="social">
			<a href="#" class="soc ig"></a>
			<a href="#" class="soc vk"></a>
			<a href="#" class="soc fb"></a>
			<a href="#" class="soc yt"></a>
		</div>
		<div class="scrollup"></div>
		<nav class="footer-menu">
			<a href="#">Salsa</a>
			<a href="#">Swing</a>
			<a href="#">Flamenco</a>
			<a href="#">Перкуссия</a>
			<a href="">Afro</a>
			<a href="">Tango</a>
			<a href="">Tap</a>
			<a href="">Blues</a>
			<a href="">О школе</a>
			<a href="">Расписание</a>
			<a href="">Преподаватели</a>
			<a href="">Абонементы</a>
			<a href="">Как начать танцевать</a>
			<a href="">Пробный урок</a>
			<a href="">Вопросы и ответы</a>
			<a href="">Контакты</a>
		</nav>
	</footer>
	{% block modal %}{% endblock %}
	<script src="js/lib-gsap.js"></script>
	<script src="js/lib-draggable.js"></script>
	<script src="js/lib-scrolltrigger.js"></script>
	<!-- <script src="js/lib-locomotive.js"></script> -->
	<script src="js/base.js"></script>
	{% block js %}{% endblock %}
</body>
</html>
