{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="css/page-news.css?v=1">
{% endblock %}
{% block content %}
<section class="news-page container" id="start">
	<div class="title title-1">новости</div>
	<div class="title title-5">актуальные события</div>
	<div class="title title-5">наборы в группы</div>
	<div class="items">
		<a class="item" href="">
			<div class="img"><img src="img/news-1.jpg"></div>
			<div class="news-title-2">Друзья, у Федора наметился отлет! ✈ Посему на этой неделе федоровы уроки будут такими:</div>
			<div class="data">01.08.2022</div>
		</a>
		<a class="item" href="">
			<div class="img"><img src="img/news-2.jpg"></div>
			<div class="news-title-2">Друзья, ура! 😃 Наша Ия вернулась из отпуска!</div>
			<div class="data">30.07.2022</div>
		</a>
		<a class="item" href="">
			<div class="img"><img src="img/party-5.jpg"></div>
			<div class="news-title-1">SALSA SWING PARTY</div>
			<div class="news-title-2">Друзья! ❤ Завтра вновь встречаемся на нашем уютном, прохладном танцполе! 😍</div>
			<div class="data">01.08.2022</div>
		</a>
		<a class="item" href="">
			<div class="img"><img src="img/news-3.jpg"></div>
			<div class="news-title-2">Подруги и друзья, урока Лизы Карраседо и ее шоу-группы в эту субботу не будет! 30 июля - ОТМЕНА и отдых) 📢</div>
			<div class="data">29.07.2022</div>
		</a>
		<a class="item" href="">
			<div class="img"><img src="img/news-4.jpg"></div>
			<div class="news-title-1">SALSA SWING PARTY</div>
			<div class="news-title-2">Друзья! ❤ Завтра вновь встречаемся на нашем уютном, прохладном танцполе! 😍</div>
			<div class="data">01.08.2022</div>
		</a>
		<a class="item" href="">
			<div class="img"><img src="img/news-2.jpg"></div>
			<div class="news-title-2">Подруги и друзья, урока Лизы Карраседо и ее шоу-группы в эту субботу не будет! 30 июля - ОТМЕНА и отдых) 📢</div>
			<div class="data">29.07.2022</div>
		</a>
		<a class="item" href="">
			<div class="img"><img src="img/party-5.jpg"></div>
			<div class="news-title-1">SALSA SWING PARTY</div>
			<div class="news-title-2">Друзья! ❤ Завтра вновь встречаемся на нашем уютном, прохладном танцполе! 😍</div>
			<div class="data">01.08.2022</div>
		</a>
		<a class="item" href="">
			<div class="img"><img src="img/news-3.jpg"></div>
			<div class="news-title-2">Подруги и друзья, урока Лизы Карраседо и ее шоу-группы в эту субботу не будет! 30 июля - ОТМЕНА и отдых) 📢</div>
			<div class="data">29.07.2022</div>
		</a>
		<a class="item" href="">
			<div class="img"><img src="img/news-4.jpg"></div>
			<div class="news-title-1">SALSA SWING PARTY</div>
			<div class="news-title-2">Друзья! ❤ Завтра вновь встречаемся на нашем уютном, прохладном танцполе! 😍</div>
			<div class="data">01.08.2022</div>
		</a>
		<a class="item" href="">
			<div class="img"><img src="img/news-2.jpg"></div>
			<div class="news-title-2">Подруги и друзья, урока Лизы Карраседо и ее шоу-группы в эту субботу не будет! 30 июля - ОТМЕНА и отдых) 📢</div>
			<div class="data">29.07.2022</div>
		</a>
	</div>
	<div class="more">Показать ещё новости</div>
</section>
<section class="party-block container" id="parties">
	<div class="title-2"><div>Вечеринки / </div>Концерты:</div>
	<div class="items">
		<a class="item" href="#">
			<div class="img"><img src="img/party-1.jpg"></div>
			<div class="title title-5">salsa SWING party</div>
			<div class="text">
				<p>29.01.2022</p>
				<p>21:00 — 00:00</p>
			</div>
		</a>
		<a class="item" href="#">
			<div class="img"><img src="img/party-2.jpg"></div>
			<div class="title title-5">4-sided band</div>
			<div class="text">
				<p>29.01.2022</p>
				<p>21:00 — 00:00</p>
			</div>
		</a>
		<a class="item" href="#">
			<div class="img"><img src="img/party-3.jpg"></div>
			<div class="title title-5">friendly party</div>
			<div class="text">
				<p>29.01.2022</p>
				<p>21:00 — 00:00</p>
			</div>
		</a>
		<a class="item" href="#">
			<div class="img"><img src="img/party-4.jpg"></div>
			<div class="title title-5">SPB SWINGDANCE SUMMIT</div>
			<div class="text">
				<p>29.01.2022</p>
				<p>21:00 — 00:00</p>
			</div>
		</a>
	</div>
</section>
{% endblock %}
{% block js %}
<script src="js/page-news.js"></script>
{% endblock %}
