{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="css/page-article.css?v=1">
{% endblock %}
{% block content %}
<section class="article-page container" id="start">
	<div class="title title-1">новости</div>
	<div class="article-content">
		<div class="img"><img src="img/article-1.jpg"></div>
		<div class="text">
			<div class="title title-5">Друзья, у Федора наметился отлет! </div>
			<p>Посему на этой неделе федоровы уроки будут такими:</p>
			<p>🐅 Понедельник, 1 августа: все уроки сальсы и афро с 20:00 до 23:00 проведет еще неотлетевший Федор Недотко</p>
			<p>🐴🦄 Вторник, 2 августа: все уроки линди и джаза с 19:00 до 23:00 проведут Филипп Быков и Ксения Сапрыкина</p>
			<p>🦜 Среда, 3 августа: все уроки сальсы и афро с 20:00 до 23:00 проведет Лиза Карраседо</p>
			<p>🐴🦄 Четверг, 4 августа: все уроки линди и джаза с 19:00 до 23:00 проведут Филипп Быков и Ксения Сапрыкина</p>
			<p>Такие дела, кто еще не знаком с этими преподавателями, не упускайте шанс познакомиться в привычные часы)</p>
		</div>
	</div>
	<a class="return" href="">
		<div class="btn"></div>Вернуться <br>к списку новостей
	</a>
</section>
<section class="party-block container" id="parties">
	<div class="title-2"><div>Вечеринки / </div>Концерты:</div>
	<div class="items">
		<a class="item" href="#">
			<div class="img"><img src="img/party-1.jpg"></div>
			<div class="title title-5">salsa SWING party</div>
			<div class="text">
				<p>29.01.2022</p>
				<p>21:00 — 00:00</p>
			</div>
		</a>
		<a class="item" href="#">
			<div class="img"><img src="img/party-2.jpg"></div>
			<div class="title title-5">4-sided band</div>
			<div class="text">
				<p>29.01.2022</p>
				<p>21:00 — 00:00</p>
			</div>
		</a>
		<a class="item" href="#">
			<div class="img"><img src="img/party-3.jpg"></div>
			<div class="title title-5">friendly party</div>
			<div class="text">
				<p>29.01.2022</p>
				<p>21:00 — 00:00</p>
			</div>
		</a>
		<a class="item" href="#">
			<div class="img"><img src="img/party-4.jpg"></div>
			<div class="title title-5">SPB SWINGDANCE SUMMIT</div>
			<div class="text">
				<p>29.01.2022</p>
				<p>21:00 — 00:00</p>
			</div>
		</a>
	</div>
</section>
{% endblock %}
{% block js %}
<script src="js/page-article.js"></script>
{% endblock %}
