{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="css/page-style.css?v=1">
{% endblock %}
{% block content %}
<section class="dance-block container is-percussion" id="start">
	<div class="text-0"></div>
	<h1 class="h1 title-1">Percussion</h1>
	<div class="img img-1">
		<img src="img/percussion-1.jpg">
		<img src="img/percussion-2.png">
  </div>
	<div class="text text-1">
		<p>Течение среды последовательно. Возмущение плотности, в рамках ограничений классической механики, заряжено. Фонон, вследствие квантового характера явления, полупрозрачен для жесткого излучения. </p>
	</div>
	<div class="img img-2"><img src="img/percussion-3.jpg"></div>
	<div class="img img-3"><img src="img/percussion-4.jpg"></div>
</section>
<section class="teacher-block container" id="teacher">
	<div class="title-2">Преподаватели</div>
	<div class="teacher-items is-style">
		<div class="teacher-nav">
			<a data-tab-index="teacher-1" class="active">ФЁДОР НЕДОТКО</a>
			<a data-tab-index="teacher-2">Николай юРИН</a>
		</div>
		<div class="teacher-content">
			<div class="item teacher-1 active" data-title="ФЁДОР НЕДОТКО">
				<div class="text">
					<div class="title-4">ФЁДОР НЕДОТКО</div>
					<div class="text-1">
						<p>Самый авторитетный преподаватель по свингу в России. Ведет также занятия по сальсе и афро.</p>
					</div>
				</div>
				<div class="text directions">
					<div class="subtitle">направления:</div>
					<div class="text-2">
						Swing <br>
						NY Salsa <br>
						Afro-latin authentic <br>
						Afro-american authentic
					</div>
				</div>
				<div class="img"><img src="img/teacher-1.jpg"></div>
				<div class="timetable">
					<div class="subtitle">Расписание:</div>
					<div class="item">
						<div class="day">Пн</div>
						<ul>
							<li>19:00 - 20:00 <div>средний уровень</div></li>
							<li>21:00 - 22:00 <div>продолжающие</div></li>
							<li>22:00 - 23:00 <div>начинающие</div></li>
						</ul>
					</div>
					<div class="item">
						<div class="day">Ср</div>
						<ul>
							<li>19:00 - 20:00 <div>средний уровень</div></li>
							<li>21:00 - 22:00 <div>продолжающие</div></li>
							<li>22:00 - 23:00 <div>начинающие</div></li>
						</ul>
					</div>
				</div>
				<div class="teacher-video">
					<b>Приветствие Фёдора</b>
					<a class="video" data-fancybox href="https://youtu.be/rkT9_MzT2-I">
						<img src="img/teacher-video.jpg">
					</a>
				</div>
			</div>
			<div class="item teacher-2" data-title="Николай Юрин">
				<div class="text">
					<div class="title-4">Николай Юрин</div>
					<div class="text-1">
						<p>Самый авторитетный преподаватель по свингу в России. Ведет также занятия по сальсе и афро.</p>
					</div>
				</div>
				<div class="text directions">
					<div class="subtitle">направления:</div>
					<div class="text-2">
						Swing <br>
						NY Salsa <br>
						Afro-latin authentic <br>
						Afro-american authentic
					</div>
				</div>
				<div class="img"><img src="img/teacher-1.jpg"></div>
				<div class="timetable">
					<div class="subtitle">Расписание:</div>
					<div class="item">
						<div class="day">Пн</div>
						<ul>
							<li>19:00 - 20:00 <div>средний уровень</div></li>
							<li>21:00 - 22:00 <div>продолжающие</div></li>
							<li>22:00 - 23:00 <div>начинающие</div></li>
						</ul>
					</div>
					<div class="item">
						<div class="day">Ср</div>
						<ul>
							<li>19:00 - 20:00 <div>средний уровень</div></li>
							<li>21:00 - 22:00 <div>продолжающие</div></li>
							<li>22:00 - 23:00 <div>начинающие</div></li>
						</ul>
					</div>
				</div>
				<div class="teacher-video">
					<b>Приветствие Фёдора</b>
					<a class="video" data-fancybox href="https://youtu.be/rkT9_MzT2-I">
						<img src="img/teacher-video.jpg">
					</a>
				</div>
			</div>
		</div>
	</ul>
</section>
<section class="party-block container" id="parties">
	<div class="title-2"><div>Вечеринки / </div>Концерты:</div>
	<div class="items">
		<a class="item" href="#">
			<div class="img"><img src="img/party-1.jpg"></div>
			<div class="title title-5">salsa SWING party</div>
			<div class="text">
				<p>29.01.2022</p>
				<p>21:00 — 00:00</p>
			</div>
		</a>
		<a class="item" href="#">
			<div class="img"><img src="img/party-2.jpg"></div>
			<div class="title title-5">4-sided band</div>
			<div class="text">
				<p>29.01.2022</p>
				<p>21:00 — 00:00</p>
			</div>
		</a>
		<a class="item" href="#">
			<div class="img"><img src="img/party-3.jpg"></div>
			<div class="title title-5">friendly party</div>
			<div class="text">
				<p>29.01.2022</p>
				<p>21:00 — 00:00</p>
			</div>
		</a>
		<a class="item" href="#">
			<div class="img"><img src="img/party-4.jpg"></div>
			<div class="title title-5">SPB SWINGDANCE SUMMIT</div>
			<div class="text">
				<p>29.01.2022</p>
				<p>21:00 — 00:00</p>
			</div>
		</a>
	</div>
</section>
{% endblock %}
{% block js %}
<script src="js/lib-swiper.js"></script>
<script src="js/page-main.js"></script>
{% endblock %}
