{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="css/page-party.css?v=1">
{% endblock %}
{% block content %}
<section class="party-page container" id="start">
	<div class="title title-1">Вечеринки</div>
	<div class="items">
		<div class="item">
			<div class="data">31.07.</div>
			<div class="time">20:00 — 23:00</div>
			<div class="text">Вход: 300₽, с абонементом скидка — 50₽</div>
			<div class="party-title">FRIENDLY PARTY</div>
			<div class="party-text-1">
				<p>Друзья! 🥰</p>
				<p>В это воскресенье встречаемся вновь с вами на нашей уютной FRIENDLY PARTY💃</p>
				<p>Здесь вам всегда рады и готовы понять, а так же помочь в ваших танцевальных начинаниях, вопросах и сложностях!</p>
			</div>
			<div class="party-text-2">
				<p>Диджей-модератор - Вадим Кисатаев.</p>
			</div>
			<div class="img"><img src="img/party-5.jpg"></div>
		</div>
		<div class="item">
			<div class="data">30.07.</div>
			<div class="time">20:00 — 23:00</div>
			<div class="text">Вход: 300₽, с абонементом скидка — 50₽</div>
			<div class="party-title">SALSA SWING PARTY</div>
			<div class="party-text-1">
				<p>Друзья! ❤</p>
				<p>Завтра вновь встречаемся на нашем уютном, прохладном танцполе в этот жаркий летний субботний вечер! 😍</p>
			</div>
			<div class="party-text-2">
				<p>Сальса - всеми любимый DJ Meshkoff.</p>
				<p>Свинг - заводные DJ Филипп Быков и DJ Ксения Сапрыкина.</p>
			</div>
			<div class="img"><img src="img/party-6.jpg"></div>
		</div>
		<div class="item">
			<div class="data">29.07.</div>
			<div class="time">20:00 — 23:00</div>
			<div class="text">Вход: 300₽, с абонементом скидка — 50₽</div>
			<div class="party-title">Милонга</div>
			<div class="party-text-1">
				<p>Всех нагулявшихся в столице питерцев, а также гостей города ждем на наше ежепятничное жогово под испепеляющие танды от Ольги Агаповой</p>
			</div>
			<div class="party-text-2">
				<p>DJ Ольга Агапова</p>
			</div>
			<div class="img"><img src="img/party-7.jpg"></div>
		</div>
		<div class="item">
			<div class="data">24.07.</div>
			<div class="time">20:00 — 23:00</div>
			<div class="text">Вход: 300₽, с абонементом скидка — 50₽</div>
			<div class="party-title">FRIENDLY PARTY</div>
			<div class="party-text-1">
				<p>Ребятки! 😌</p>
				<p>Всем, кто не знал - рассказываем. Всем, кто в курсе - напоминаем! Помимо субботней пати есть возможность прийти потанцевать сальсу также в вечер воскресенья! FRIENDLY PARTY - это когда уютно, лампово и радостно.</p>
			</div>
			<div class="party-text-2">
				<p>Диджей-модератор - Вадим Кисатаев.</p>
			</div>
			<div class="img"><img src="img/party-8.jpg"></div>
		</div>
		<div class="item">
			<div class="data">23.07.</div>
			<div class="time">20:00 — 23:00</div>
			<div class="text">Вход: 300₽, с абонементом скидка — 50₽</div>
			<div class="party-title">SALSA SWING PARTY</div>
			<div class="party-text-1">
				<p>Дорогие! ❤</p>
				<p>Лето в самом разгаре. А это значит, что у всех нас сейчас приподнятое настроение, море энергии и драйва! Посему приглашаем вас вновь в эту субботу! 💃🕺</p>
			</div>
			<div class="party-text-2">
				<p>Сальса - DJ GAD.</p>
				<p>Свинг - DJ Филипп Быков и DJ Ксения Сапрыкина.</p>
			</div>
			<div class="img"><img src="img/party-9.jpg"></div>
		</div>
	</div>
</section>
<section class="party-block container" id="parties">
	<div class="title-2"><div>Вечеринки / </div>Концерты:</div>
	<div class="items">
		<a class="item" href="#">
			<div class="img"><img src="img/party-1.jpg"></div>
			<div class="title title-5">salsa SWING party</div>
			<div class="text">
				<p>29.01.2022</p>
				<p>21:00 — 00:00</p>
			</div>
		</a>
		<a class="item" href="#">
			<div class="img"><img src="img/party-2.jpg"></div>
			<div class="title title-5">4-sided band</div>
			<div class="text">
				<p>29.01.2022</p>
				<p>21:00 — 00:00</p>
			</div>
		</a>
		<a class="item" href="#">
			<div class="img"><img src="img/party-3.jpg"></div>
			<div class="title title-5">friendly party</div>
			<div class="text">
				<p>29.01.2022</p>
				<p>21:00 — 00:00</p>
			</div>
		</a>
		<a class="item" href="#">
			<div class="img"><img src="img/party-4.jpg"></div>
			<div class="title title-5">SPB SWINGDANCE SUMMIT</div>
			<div class="text">
				<p>29.01.2022</p>
				<p>21:00 — 00:00</p>
			</div>
		</a>
	</div>
</section>
{% endblock %}
{% block js %}
<script src="js/page-price.js"></script>
{% endblock %}
