{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="css/page-main.css">
{% endblock %}
{% block content %}
<section class="start-block container">
	<div class="item-1">
		<div class="img img-1"><img src="img/start-1.jpg"></div>
		<h1 class="h1 title">Casa Latina</h1>
		<div class="text">
			<p>Течение среды последовательно. Возмущение плотности, в рамках ограничений классической механики, заряжено. Фонон, вследствие квантового характера явления, полупрозрачен для жесткого излучения. Сверхновая притягивает коллапсирующий лазер.</p>
		</div>
	</div>
	<div class="item-2">
		<div class="subtitle">Первое занятие бесплатно</div>
		<div class="text">
			<p>Скидка на абонемент при покупке в тот же день  —  20%</p>
		</div>
		<a class="btn" href="#">Записаться</a>
	</div>
	<div class="img img-2">
		<img src="img/start-2.jpg">
	</div>
	<div class="item-3">
		<div class="img img-3">
			<img src="img/start-3.jpg">
		</div>
		<div class="text">
			<p>Расслоение излучает вихревой разрыв, как и предсказывает общая теория поля. Вещество заряжено. Квантовое состояние по определению трансформирует межядерный экситон.</p>
		</div>
	</div>
</section>
{% endblock %}
{% block modal %}

{% endblock %}
{% block js %}
<script src="js/lib-swiper.js"></script>
<script src="js/maps.js"></script>
<script src="js/page-main.js"></script>
{% endblock %}
