{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="css/page-gallery.css?v=1">
{% endblock %}
{% block content %}
<section class="gallery-block container" id="start">
	<div class="title title-1">Галерея</div>
	<div class="item active">
		<div class="title-3">2022</div>
		<div class="images">
			<div class="subtitle">Фото</div>
			<a class="img" data-fancybox="2022" data-src="img/gallery-1.jpg">
				<img src="img/gallery-1.jpg">
			</a>
			<a class="img" data-fancybox="2022" data-src="img/gallery-2.jpg">
				<img src="img/gallery-2.jpg">
			</a>
			<a class="img" data-fancybox="2022" data-src="img/gallery-1.jpg">
				<img src="img/gallery-1.jpg">
			</a>
			<a class="img" data-fancybox="2022" data-src="img/gallery-2.jpg">
				<img src="img/gallery-2.jpg">
			</a>
			<a class="img" data-fancybox="2022" data-src="img/gallery-1.jpg">
				<img src="img/gallery-1.jpg">
			</a>
			<a class="img" data-fancybox="2022" data-src="img/gallery-2.jpg">
				<img src="img/gallery-2.jpg">
			</a>
		</div>
		<div class="video">
			<div class="subtitle">Видео</div>
			<a class="img" data-fancybox="2022" data-src="img/gallery-1.jpg">
				<img src="img/gallery-1.jpg">
			</a>
			<a class="img" data-fancybox="2022" data-src="img/gallery-2.jpg">
				<img src="img/gallery-2.jpg">
			</a>
			<a class="img" data-fancybox="2022" data-src="img/gallery-1.jpg">
				<img src="img/gallery-1.jpg">
			</a>
		</div>
	</div>
	<div class="item">
		<div class="title-3">2021</div>
		<div class="images">
			<div class="subtitle">Фото</div>
			<a class="img" data-fancybox="2022" data-src="img/gallery-1.jpg">
				<img src="img/gallery-1.jpg">
			</a>
			<a class="img" data-fancybox="2022" data-src="img/gallery-2.jpg">
				<img src="img/gallery-2.jpg">
			</a>
			<a class="img" data-fancybox="2022" data-src="img/gallery-1.jpg">
				<img src="img/gallery-1.jpg">
			</a>
			<a class="img" data-fancybox="2022" data-src="img/gallery-2.jpg">
				<img src="img/gallery-2.jpg">
			</a>
			<a class="img" data-fancybox="2022" data-src="img/gallery-1.jpg">
				<img src="img/gallery-1.jpg">
			</a>
			<a class="img" data-fancybox="2022" data-src="img/gallery-2.jpg">
				<img src="img/gallery-2.jpg">
			</a>
		</div>
		<div class="video">
			<div class="subtitle">Видео</div>
			<a class="img" data-fancybox="2022" data-src="img/gallery-1.jpg">
				<img src="img/gallery-1.jpg">
			</a>
			<a class="img" data-fancybox="2022" data-src="img/gallery-2.jpg">
				<img src="img/gallery-2.jpg">
			</a>
			<a class="img" data-fancybox="2022" data-src="img/gallery-1.jpg">
				<img src="img/gallery-1.jpg">
			</a>
		</div>
	</div>
</section>
<section class="party-block container" id="parties">
	<div class="title-2"><div>Вечеринки / </div>Концерты:</div>
	<div class="items">
		<a class="item" href="#">
			<div class="img"><img src="img/party-1.jpg"></div>
			<div class="title title-5">salsa SWING party</div>
			<div class="text">
				<p>29.01.2022</p>
				<p>21:00 — 00:00</p>
			</div>
		</a>
		<a class="item" href="#">
			<div class="img"><img src="img/party-2.jpg"></div>
			<div class="title title-5">4-sided band</div>
			<div class="text">
				<p>29.01.2022</p>
				<p>21:00 — 00:00</p>
			</div>
		</a>
		<a class="item" href="#">
			<div class="img"><img src="img/party-3.jpg"></div>
			<div class="title title-5">friendly party</div>
			<div class="text">
				<p>29.01.2022</p>
				<p>21:00 — 00:00</p>
			</div>
		</a>
		<a class="item" href="#">
			<div class="img"><img src="img/party-4.jpg"></div>
			<div class="title title-5">SPB SWINGDANCE SUMMIT</div>
			<div class="text">
				<p>29.01.2022</p>
				<p>21:00 — 00:00</p>
			</div>
		</a>
	</div>
</section>
{% endblock %}
{% block js %}
<script src="js/page-gallery.js"></script>
{% endblock %}
