{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="css/page-main.css">
{% endblock %}
{% block content %}
<section class="start-block container">
	<div class="item-1">
		<div class="img img-1"><img src="img/start-1.jpg"></div>
		<h1 class="h1 title-1">Casa Latina</h1>
		<div class="text">
			<p>Течение среды последовательно. Возмущение плотности, в рамках ограничений классической механики, заряжено. Фонон, вследствие квантового характера явления, полупрозрачен для жесткого излучения. Сверхновая притягивает коллапсирующий лазер.</p>
		</div>
	</div>
	<div class="item-2">
		<div class="title-4">Первое занятие бесплатно</div>
		<div class="text">
			<p>Скидка на абонемент при покупке в тот же день  —  20%</p>
		</div>
		<a class="btn" href="#">Записаться</a>
	</div>
	<div class="img img-2">
		<img src="img/start-2.jpg">
	</div>
	<div class="item-3">
		<div class="img img-3">
			<img src="img/start-3.jpg">
		</div>
		<div class="text">
			<p>Расслоение излучает вихревой разрыв, как и предсказывает общая теория поля. Вещество заряжено. Квантовое состояние по определению трансформирует межядерный экситон.</p>
		</div>
	</div>
</section>
<section class="style-block container">
	<div class="title-2">танцевальные <div>стили</div></div>
	<div class="item">
		<div class="title-3">Salsa</div>
		<div class="style-content">
			<nav class="style-links">
				<a href="#">Парная</a>
				<a href="#">Соло</a>
				<a href="#">Lady Style</a>
			</nav>
			<div class="img"><img src="img/style-1.jpg"></div>
			<div class="timetable">
				<div class="subtitle">Расписание:</div>
				<p>Фёдор Недотко</p>
				<div class="item">
					<div class="day">Пн</div>
					<ul>
						<li>19:00 - 20:00 <div>средний уровень</div></li>
						<li>21:00 - 22:00 <div>продолжающие</div></li>
						<li>22:00 - 23:00 <div>начинающие</div></li>
					</ul>
				</div>
				<div class="item">
					<div class="day">Ср</div>
					<ul>
						<li>19:00 - 20:00 <div>средний уровень</div></li>
						<li>21:00 - 22:00 <div>продолжающие</div></li>
						<li>22:00 - 23:00 <div>начинающие</div></li>
					</ul>
				</div>
				<p>Вадим Кисатаев</p>
				<div class="item">
					<div class="day">Чт</div>
					<ul>
						<li>21:00 - 22:00 <div>начинающие</div></li>
						<li>22:00 - 23:00 <div>начинающие</div></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="item">
		<div class="title-3">Swing</div>
		<div class="style-content">
			<nav class="style-links">
				<a href="#">Парная</a>
				<a href="#">Соло</a>
				<a href="#">Lady Style</a>
			</nav>
			<div class="img"><img src="img/style-1.jpg"></div>
			<div class="timetable">
				<div class="subtitle">Расписание:</div>
				<p>Фёдор Недотко</p>
				<div class="item">
					<div class="day">Пн</div>
					<ul>
						<li>19:00 - 20:00 <div>средний уровень</div></li>
						<li>21:00 - 22:00 <div>продолжающие</div></li>
						<li>22:00 - 23:00 <div>начинающие</div></li>
					</ul>
				</div>
				<div class="item">
					<div class="day">Ср</div>
					<ul>
						<li>19:00 - 20:00 <div>средний уровень</div></li>
						<li>21:00 - 22:00 <div>продолжающие</div></li>
						<li>22:00 - 23:00 <div>начинающие</div></li>
					</ul>
				</div>
				<p>Вадим Кисатаев</p>
				<div class="item">
					<div class="day">Чт</div>
					<ul>
						<li>21:00 - 22:00 <div>начинающие</div></li>
						<li>22:00 - 23:00 <div>начинающие</div></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="item">
		<div class="title-3">Blues</div>
		<div class="style-content">
			<nav class="style-links">
				<a href="#">Парная</a>
				<a href="#">Соло</a>
				<a href="#">Lady Style</a>
			</nav>
			<div class="img"><img src="img/style-1.jpg"></div>
			<div class="timetable">
				<div class="subtitle">Расписание:</div>
				<p>Фёдор Недотко</p>
				<div class="item">
					<div class="day">Пн</div>
					<ul>
						<li>19:00 - 20:00 <div>средний уровень</div></li>
						<li>21:00 - 22:00 <div>продолжающие</div></li>
						<li>22:00 - 23:00 <div>начинающие</div></li>
					</ul>
				</div>
				<div class="item">
					<div class="day">Ср</div>
					<ul>
						<li>19:00 - 20:00 <div>средний уровень</div></li>
						<li>21:00 - 22:00 <div>продолжающие</div></li>
						<li>22:00 - 23:00 <div>начинающие</div></li>
					</ul>
				</div>
				<p>Вадим Кисатаев</p>
				<div class="item">
					<div class="day">Чт</div>
					<ul>
						<li>21:00 - 22:00 <div>начинающие</div></li>
						<li>22:00 - 23:00 <div>начинающие</div></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="item">
		<div class="title-3">Tango</div>
		<div class="style-content">
			<nav class="style-links">
				<a href="#">Парная</a>
				<a href="#">Соло</a>
				<a href="#">Lady Style</a>
			</nav>
			<div class="img"><img src="img/style-1.jpg"></div>
			<div class="timetable">
				<div class="subtitle">Расписание:</div>
				<p>Фёдор Недотко</p>
				<div class="item">
					<div class="day">Пн</div>
					<ul>
						<li>19:00 - 20:00 <div>средний уровень</div></li>
						<li>21:00 - 22:00 <div>продолжающие</div></li>
						<li>22:00 - 23:00 <div>начинающие</div></li>
					</ul>
				</div>
				<div class="item">
					<div class="day">Ср</div>
					<ul>
						<li>19:00 - 20:00 <div>средний уровень</div></li>
						<li>21:00 - 22:00 <div>продолжающие</div></li>
						<li>22:00 - 23:00 <div>начинающие</div></li>
					</ul>
				</div>
				<p>Вадим Кисатаев</p>
				<div class="item">
					<div class="day">Чт</div>
					<ul>
						<li>21:00 - 22:00 <div>начинающие</div></li>
						<li>22:00 - 23:00 <div>начинающие</div></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="item">
		<div class="title-3">Afro</div>
		<div class="style-content">
			<nav class="style-links">
				<a href="#">Парная</a>
				<a href="#">Соло</a>
				<a href="#">Lady Style</a>
			</nav>
			<div class="img"><img src="img/style-1.jpg"></div>
			<div class="timetable">
				<div class="subtitle">Расписание:</div>
				<p>Фёдор Недотко</p>
				<div class="item">
					<div class="day">Пн</div>
					<ul>
						<li>19:00 - 20:00 <div>средний уровень</div></li>
						<li>21:00 - 22:00 <div>продолжающие</div></li>
						<li>22:00 - 23:00 <div>начинающие</div></li>
					</ul>
				</div>
				<div class="item">
					<div class="day">Ср</div>
					<ul>
						<li>19:00 - 20:00 <div>средний уровень</div></li>
						<li>21:00 - 22:00 <div>продолжающие</div></li>
						<li>22:00 - 23:00 <div>начинающие</div></li>
					</ul>
				</div>
				<p>Вадим Кисатаев</p>
				<div class="item">
					<div class="day">Чт</div>
					<ul>
						<li>21:00 - 22:00 <div>начинающие</div></li>
						<li>22:00 - 23:00 <div>начинающие</div></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="item">
		<div class="title-3">Flamenco</div>
		<div class="style-content">
			<nav class="style-links">
				<a href="#">Парная</a>
				<a href="#">Соло</a>
				<a href="#">Lady Style</a>
			</nav>
			<div class="img"><img src="img/style-1.jpg"></div>
			<div class="timetable">
				<div class="subtitle">Расписание:</div>
				<p>Фёдор Недотко</p>
				<div class="item">
					<div class="day">Пн</div>
					<ul>
						<li>19:00 - 20:00 <div>средний уровень</div></li>
						<li>21:00 - 22:00 <div>продолжающие</div></li>
						<li>22:00 - 23:00 <div>начинающие</div></li>
					</ul>
				</div>
				<div class="item">
					<div class="day">Ср</div>
					<ul>
						<li>19:00 - 20:00 <div>средний уровень</div></li>
						<li>21:00 - 22:00 <div>продолжающие</div></li>
						<li>22:00 - 23:00 <div>начинающие</div></li>
					</ul>
				</div>
				<p>Вадим Кисатаев</p>
				<div class="item">
					<div class="day">Чт</div>
					<ul>
						<li>21:00 - 22:00 <div>начинающие</div></li>
						<li>22:00 - 23:00 <div>начинающие</div></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="item">
		<div class="title-3">Tap</div>
		<div class="style-content">
			<nav class="style-links">
				<a href="#">Парная</a>
				<a href="#">Соло</a>
				<a href="#">Lady Style</a>
			</nav>
			<div class="img"><img src="img/style-1.jpg"></div>
			<div class="timetable">
				<div class="subtitle">Расписание:</div>
				<p>Фёдор Недотко</p>
				<div class="item">
					<div class="day">Пн</div>
					<ul>
						<li>19:00 - 20:00 <div>средний уровень</div></li>
						<li>21:00 - 22:00 <div>продолжающие</div></li>
						<li>22:00 - 23:00 <div>начинающие</div></li>
					</ul>
				</div>
				<div class="item">
					<div class="day">Ср</div>
					<ul>
						<li>19:00 - 20:00 <div>средний уровень</div></li>
						<li>21:00 - 22:00 <div>продолжающие</div></li>
						<li>22:00 - 23:00 <div>начинающие</div></li>
					</ul>
				</div>
				<p>Вадим Кисатаев</p>
				<div class="item">
					<div class="day">Чт</div>
					<ul>
						<li>21:00 - 22:00 <div>начинающие</div></li>
						<li>22:00 - 23:00 <div>начинающие</div></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="item">
		<div class="title-3">Перкуссия</div>
		<div class="style-content">
			<nav class="style-links">
				<a href="#">Парная</a>
				<a href="#">Соло</a>
				<a href="#">Lady Style</a>
			</nav>
			<div class="img"><img src="img/style-1.jpg"></div>
			<div class="timetable">
				<div class="subtitle">Расписание:</div>
				<p>Фёдор Недотко</p>
				<div class="item">
					<div class="day">Пн</div>
					<ul>
						<li>19:00 - 20:00 <div>средний уровень</div></li>
						<li>21:00 - 22:00 <div>продолжающие</div></li>
						<li>22:00 - 23:00 <div>начинающие</div></li>
					</ul>
				</div>
				<div class="item">
					<div class="day">Ср</div>
					<ul>
						<li>19:00 - 20:00 <div>средний уровень</div></li>
						<li>21:00 - 22:00 <div>продолжающие</div></li>
						<li>22:00 - 23:00 <div>начинающие</div></li>
					</ul>
				</div>
				<p>Вадим Кисатаев</p>
				<div class="item">
					<div class="day">Чт</div>
					<ul>
						<li>21:00 - 22:00 <div>начинающие</div></li>
						<li>22:00 - 23:00 <div>начинающие</div></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="teacher-block container">
	<div class="title-2">Преподаватели</div>
	<div class="teacher-items">
		<div class="teacher-nav">
			<a data-tab-index="teacher-1">ФЁДОР НЕДОТКО</a>
			<a data-tab-index="teacher-2">Николай юРИН</a>
			<a data-tab-index="teacher-3">лИЗА кОРРАСЕДО</a>
			<a data-tab-index="teacher-4">вАДИМ кИСАТАЕВ</a>
			<a data-tab-index="teacher-5">иРИНА зАХВАТКИНА</a>
			<a data-tab-index="teacher-6">олЬГА иСАКОВА</a>
			<a data-tab-index="teacher-7">Мария  Панарина</a>
			<a data-tab-index="teacher-8">Антон Филатов</a>
			<a data-tab-index="teacher-9">Ксения зобова</a>
			<a data-tab-index="teacher-10">Алексей Жук</a>
			<a data-tab-index="teacher-11">Ия Боваль</a>
			<a data-tab-index="teacher-12">Михайло Петров</a>
		</div>
		<div class="teacher-content">
			<div class="item teacher-1">
				<div class="text">
					<div class="title-4">ФЁДОР НЕДОТКО</div>
					<div class="text-1">
						<p>Самый авторитетный преподаватель по свингу в России. Ведет также занятия по сальсе и афро.</p>
					</div>
					<div class="subtitle">направления:</div>
					<div class="text-2">
						Swing <br>
						NY Salsa <br>
						Afro-latin authentic <br>
						Afro-american authentic
					</div>
				</div>
				<div class="img"><img src="img/teacher-1.jpg"></div>
			</div>
			<div class="item teacher-2">
				<div class="text">
					<div class="title-4">ФЁДОР НЕДОТКО</div>
					<div class="text-1">
						<p>Самый авторитетный преподаватель по свингу в России. Ведет также занятия по сальсе и афро.</p>
					</div>
					<div class="subtitle">направления:</div>
					<div class="text-2">
						Swing <br>
						NY Salsa <br>
						Afro-latin authentic <br>
						Afro-american authentic
					</div>
				</div>
				<div class="img"><img src="img/teacher-1.jpg"></div>
			</div>
			<div class="item teacher-3">
				<div class="text">
					<div class="title-4">ФЁДОР НЕДОТКО</div>
					<div class="text-1">
						<p>Самый авторитетный преподаватель по свингу в России. Ведет также занятия по сальсе и афро.</p>
					</div>
					<div class="subtitle">направления:</div>
					<div class="text-2">
						Swing <br>
						NY Salsa <br>
						Afro-latin authentic <br>
						Afro-american authentic
					</div>
				</div>
				<div class="img"><img src="img/teacher-1.jpg"></div>
			</div>
			<div class="item teacher-4">
				<div class="text">
					<div class="title-4">ФЁДОР НЕДОТКО</div>
					<div class="text-1">
						<p>Самый авторитетный преподаватель по свингу в России. Ведет также занятия по сальсе и афро.</p>
					</div>
					<div class="subtitle">направления:</div>
					<div class="text-2">
						Swing <br>
						NY Salsa <br>
						Afro-latin authentic <br>
						Afro-american authentic
					</div>
				</div>
				<div class="img"><img src="img/teacher-1.jpg"></div>
			</div>
			<div class="item teacher-5">
				<div class="text">
					<div class="title-4">ФЁДОР НЕДОТКО</div>
					<div class="text-1">
						<p>Самый авторитетный преподаватель по свингу в России. Ведет также занятия по сальсе и афро.</p>
					</div>
					<div class="subtitle">направления:</div>
					<div class="text-2">
						Swing <br>
						NY Salsa <br>
						Afro-latin authentic <br>
						Afro-american authentic
					</div>
				</div>
				<div class="img"><img src="img/teacher-1.jpg"></div>
			</div>
			<div class="item teacher-6">
				<div class="text">
					<div class="title-4">ФЁДОР НЕДОТКО</div>
					<div class="text-1">
						<p>Самый авторитетный преподаватель по свингу в России. Ведет также занятия по сальсе и афро.</p>
					</div>
					<div class="subtitle">направления:</div>
					<div class="text-2">
						Swing <br>
						NY Salsa <br>
						Afro-latin authentic <br>
						Afro-american authentic
					</div>
				</div>
				<div class="img"><img src="img/teacher-1.jpg"></div>
			</div>
			<div class="item teacher-7">
				<div class="text">
					<div class="title-4">ФЁДОР НЕДОТКО</div>
					<div class="text-1">
						<p>Самый авторитетный преподаватель по свингу в России. Ведет также занятия по сальсе и афро.</p>
					</div>
					<div class="subtitle">направления:</div>
					<div class="text-2">
						Swing <br>
						NY Salsa <br>
						Afro-latin authentic <br>
						Afro-american authentic
					</div>
				</div>
				<div class="img"><img src="img/teacher-1.jpg"></div>
			</div>
			<div class="item teacher-8">
				<div class="text">
					<div class="title-4">ФЁДОР НЕДОТКО</div>
					<div class="text-1">
						<p>Самый авторитетный преподаватель по свингу в России. Ведет также занятия по сальсе и афро.</p>
					</div>
					<div class="subtitle">направления:</div>
					<div class="text-2">
						Swing <br>
						NY Salsa <br>
						Afro-latin authentic <br>
						Afro-american authentic
					</div>
				</div>
				<div class="img"><img src="img/teacher-1.jpg"></div>
			</div>
			<div class="item teacher-9">
				<div class="text">
					<div class="title-4">ФЁДОР НЕДОТКО</div>
					<div class="text-1">
						<p>Самый авторитетный преподаватель по свингу в России. Ведет также занятия по сальсе и афро.</p>
					</div>
					<div class="subtitle">направления:</div>
					<div class="text-2">
						Swing <br>
						NY Salsa <br>
						Afro-latin authentic <br>
						Afro-american authentic
					</div>
				</div>
				<div class="img"><img src="img/teacher-1.jpg"></div>
			</div>
			<div class="item teacher-10">
				<div class="text">
					<div class="title-4">ФЁДОР НЕДОТКО</div>
					<div class="text-1">
						<p>Самый авторитетный преподаватель по свингу в России. Ведет также занятия по сальсе и афро.</p>
					</div>
					<div class="subtitle">направления:</div>
					<div class="text-2">
						Swing <br>
						NY Salsa <br>
						Afro-latin authentic <br>
						Afro-american authentic
					</div>
				</div>
				<div class="img"><img src="img/teacher-1.jpg"></div>
			</div>
			<div class="item teacher-11">
				<div class="text">
					<div class="title-4">ФЁДОР НЕДОТКО</div>
					<div class="text-1">
						<p>Самый авторитетный преподаватель по свингу в России. Ведет также занятия по сальсе и афро.</p>
					</div>
					<div class="subtitle">направления:</div>
					<div class="text-2">
						Swing <br>
						NY Salsa <br>
						Afro-latin authentic <br>
						Afro-american authentic
					</div>
				</div>
				<div class="img"><img src="img/teacher-1.jpg"></div>
			</div>
			<div class="item teacher-12">
				<div class="text">
					<div class="title-4">ФЁДОР НЕДОТКО</div>
					<div class="text-1">
						<p>Самый авторитетный преподаватель по свингу в России. Ведет также занятия по сальсе и афро.</p>
					</div>
					<div class="subtitle">направления:</div>
					<div class="text-2">
						Swing <br>
						NY Salsa <br>
						Afro-latin authentic <br>
						Afro-american authentic
					</div>
				</div>
				<div class="img"><img src="img/teacher-1.jpg"></div>
			</div>
		</div>
	</ul>
</section>
{% endblock %}
{% block modal %}

{% endblock %}
{% block js %}
<script src="js/lib-swiper.js"></script>
<script src="js/maps.js"></script>
<script src="js/page-main.js"></script>
{% endblock %}
