{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="css/page-price.css?v=1">
{% endblock %}
{% block content %}
<section class="price-block container" id="start">
	<div class="title title-1">цены</div>
	<div class="text">
		<p>Первое занятие для новичков — <b>БЕСПЛАТНО</b></p>
		<p>При покупке абонемента в день первого занятия — <b>скидка 20% на абонементы 5 и 9 занятий</b></p>
	</div>
	<div class="items">
		<div class="item">
			<p>5 занятий</p>
			<p>3 150</p>
			<p>Срок действия - 1 месяц</p>
			<p>Стоимость за занятие - 630 руб/час</p>
			<p>Бюджет на месяц - 3150 руб</p>
		</div>
		<div class="item">
			<p>9 занятий</p>
			<p>4 450</p>
			<p>Срок действия - 1 месяц</p>
			<p>Стоимость за занятие - 495 руб/час</p>
			<p>Бюджет на месяц - 4450 руб</p>
		</div>
		<div class="item">
			<p>18 занятий</p>
			<p>7 850</p>
			<p>Срок действия - 2 месяцa</p>
			<p>Стоимость за занятие - 436 руб/час</p>
			<p>Бюджет на месяц - 3925 руб</p>
		</div>
		<div class="item">
			<p>27 занятий</p>
			<p>10 950</p>
			<p>Срок действия - 3 месяцa</p>
			<p>Стоимость за занятие - 405 руб/час</p>
			<p>Бюджет на месяц - 3650 руб</p>
		</div>
		<div class="item">
			<p>54 занятий</p>
			<p>20 950</p>
			<p>Срок действия - 6 месяцев</p>
			<p>Стоимость за занятие - 388 руб/час</p>
			<p>Бюджет на месяц - 3492 руб</p>
		</div>
		<div class="item">
			<p>Разовое занятие</p>
			<p>700</p>
		</div>
	</div>
	<div class="items">
		<div class="item">
			<p>Продление абонемента</p>
			<p>700</p>
			<p>Продление абонемента на месяц и бесплатный перенос занятий</p>
		</div>
		<div class="item">
			<p>Рассрочка аобнемента</p>
			<p>700</p>
			<p>Возможна бесплатная рассрочка оплаты (30 дней) абонементов на 54 занятия (минимальный взнос 5000)</p>
		</div>
		<div class="item">
			<p>Индивидуальное занятие</p>
			<p>2000</p>
			<p>Вы можете договориться об индивидуальном занятии с любым преподавателем</p>
		</div>
		<div class="item">
			<p>Подарочный сертификат</p>
			<p>700</p>
			<p>Подарочный сертификат на одно или несколько занятий, а также на индивидуальный урок у наших преподавателей.</p>
		</div>
		<div class="item">
			<p>Аренда зала</p>
			<p>750</p>
			<p>В неурочное время есть возможность аренды залов. Стоимость 750 руб./час до 18:00 и 1000 руб./час с 18:00 до 23:00</p>
		</div>
		<div class="item">
			<p>Субботние вечиринки</p>
			<p>350</p>
			<p>Вечеринки по субботам — сальса и свинг</p>
		</div>
		<div class="item">
			<p>Friendly Party</p>
			<p>250</p>
			<p>Формат вечеринок для всех, кто недавно начал танцевать, и хочет начать применять полученные на занятиях знания</p>
		</div>
		<div class="item">
			<p>Пятничные милонги</p>
			<p>300</p>
			<p>По пятницам, с 21:00 до 01:00 мы ждем вас на традиционную милонгу</p>
		</div>
	</div>
	<div class="text text-2">Больше информации по тел.: <a href="tel:(812) 310-00-79">(812)&nbsp;310-00-79</a></div>
</section>
<section class="party-block container" id="parties">
	<div class="title-2"><div>Вечеринки / </div>Концерты:</div>
	<div class="items">
		<a class="item" href="#">
			<div class="img"><img src="img/party-1.jpg"></div>
			<div class="title title-5">salsa SWING party</div>
			<div class="text">
				<p>29.01.2022</p>
				<p>21:00 — 00:00</p>
			</div>
		</a>
		<a class="item" href="#">
			<div class="img"><img src="img/party-2.jpg"></div>
			<div class="title title-5">4-sided band</div>
			<div class="text">
				<p>29.01.2022</p>
				<p>21:00 — 00:00</p>
			</div>
		</a>
		<a class="item" href="#">
			<div class="img"><img src="img/party-3.jpg"></div>
			<div class="title title-5">friendly party</div>
			<div class="text">
				<p>29.01.2022</p>
				<p>21:00 — 00:00</p>
			</div>
		</a>
		<a class="item" href="#">
			<div class="img"><img src="img/party-4.jpg"></div>
			<div class="title title-5">SPB SWINGDANCE SUMMIT</div>
			<div class="text">
				<p>29.01.2022</p>
				<p>21:00 — 00:00</p>
			</div>
		</a>
	</div>
</section>
{% endblock %}
{% block js %}
<script src="js/page-price.js"></script>
{% endblock %}
